/* FONT */
@import url('https://fonts.cdnfonts.com/css/league-spartan');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&display=swap');

/* VARIABLES */
:root {
    --primary-color: #3B3486;
    --secondary-color: #7743DB;
    --call-to-action-color: #FFE9B1;
    --off-white: #FCFDF2;
    --dark: #1E1E1E;
    --blob-color: #17093d;
    --blob-size: 300px;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background: var(--secondary-color);
}

/* GLOBAL */
html {
	scroll-behavior: smooth;
}

nav {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 1.5em;
    width: 100%;
    backdrop-filter: blur(10px);
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.75);
    z-index: 99;
}

ul > li:nth-child(1) {
    display: inline-block;
    margin-left: 3em;
    margin-right: 12.8vw;
}

ul > li {
    display: inline-block;
    margin: 0 4.5em;
    text-transform: uppercase;
}

ul > li > a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 900;
    font-family: 'Azeret Mono', monospace;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

ul > li > a:focus,
ul > li > a:hover {
    color: #fff;
}

ul > li > a:focus:after,
ul > li > a:hover:after {
    width: 100%;
    left: 0%;
}

ul > li > a:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

header {
    display: grid;
    overflow: hidden;
}

header > img {
    position: absolute;
    bottom: 0;
    width: 100%;
    grid-column: 1 / 3;
    filter: drop-shadow(0 -2em 1em rgba(51, 26, 84, 0.2));
}

.left-side:after {
    content: "";
    background-color: var(--off-white);
    background-image: url("images/paper-texture.jpg");
    position: absolute;
    top:0px;
    left: 0px;
    width:100%;
    height:100%;
    z-index: -1;
    opacity: 0.4;
}

.left-side {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 50vw;
    padding-top: 32vh;
    padding-left: 8em;
}

.left-side > div > h1 {
    position: relative;
    display: inline-block;
    font-size: 50px;
    font-weight: 700;
    font-family: "League Spartan", sans-serif;
    color: var(--primary-color);
}

.left-side > div > h1 > span {
    font-size: 80px;
    color: var(--secondary-color);
}

.left-side > div > a {
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    font-family: "League Spartan", sans-serif;
    margin-top: 1em;
    padding: 1.5em 1em;
    border: 3px solid var(--primary-color);
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: var(--primary-color);
    text-decoration: none;
    transition: 0.3s ease all;
    user-select: none;
    width: 26.2em;
    z-index: 1;
}

.left-side > div > a:nth-child(3) {
    width: 4.8em;
}

.left-side > div > a:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: var(--primary-color);
    z-index: -1;
}

.left-side > div > a:hover, .left-side > div > a:focus {
    color: white;
    cursor: pointer;
}

.left-side > div > a:hover:before, .left-side > div > a:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

.left-side > div > a:active {
    transform: scale(0.9);
}

.right-side {
    background-color: var(--secondary-color);
    height: 100vh;
    width: 50vw;
    grid-column: 2;
}

.right-side > img:nth-child(1) {
    position: relative;
    width: 8em;
    bottom: 1.2em;
    right: 5em;
    filter: drop-shadow(-1em 0 0.4em rgba(51, 26, 84, 0.12));
}

.right-side > img:nth-child(2) {
    position: relative;
    width: 40em;
    top: 1em;
    filter: drop-shadow(2em 0 1.5em rgba(51, 26, 84, 0.4));
}

/* MAIN */
main {
    overflow: clip;
    position: relative;
}

main > #competences, main > #contact {
    padding: 15em 10vw;
    background-color: var(--off-white);
}

main > article {
    padding: 18em 10vw;
    background-color: var(--primary-color);
}

main > article > h2 {
    display: inline-block;
    position: relative;
    color: var(--off-white);
    font-size: 40px;
    font-family: "League Spartan", sans-serif;
    z-index: 1;
}

.shadow-text {
    filter: drop-shadow(0 0 0.2em rgba(51, 26, 84, 0.4));
}

#competences, #contact {
    text-align: center;
}

#competences > h2, #contact > h2 {
    margin-bottom: 1em;
    color: var(--primary-color);
}

#competences > section, #contact > section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

main > article > section {
    display: grid;
}

main > article > section > p {
    margin-top: 1.5em;
    position: relative;
    font-family: "Libre Baskerville", serif;
    font-size: 22px;
    color: var(--off-white);
    width: 40vw;
    z-index: 1;
}

.highlight {
    background-image: linear-gradient(90deg, var(--secondary-color), var(--primary-color));
    background-position: bottom;
    background-size: 100% 30%;
    background-repeat: no-repeat;
}

.highlight-light {
    background-image: linear-gradient(90deg, var(--call-to-action-color), var(--off-white));
    background-position: bottom;
    background-size: 100% 30%;
    background-repeat: no-repeat;
}

.snap-images {
    margin-left: 2em;
    position: relative;
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;
    height: 25em;
    grid-column: 2;
    z-index: 10;
}

.snap-images > .item {
    min-width: 100%;
    scroll-snap-align: start;
}

input[type=radio] {
    display: none;
}

.card {
    position: absolute;
    width: 60%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform .4s ease;
    cursor: pointer;
}

.card > img {
    width: 25em;
    height: 25em;
    border-radius: 10px;
    object-fit: cover;
    filter: drop-shadow(2em 0 1.5em rgba(23, 9, 61, 0.7));
}

.carousel {
    position: relative;
    width: 30em;
    max-width: 800px;
    max-height: 600px;
    height: 100%;
    margin: 0 auto;
    margin-top: 1.5em;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    grid-column: 2;
    z-index: 10;
}

.cards {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

#item-1:checked ~ .cards #song-3, #item-2:checked ~ .cards #song-1, #item-3:checked ~ .cards #song-2 {
    transform: translatex(-40%) scale(.8);
    opacity: .4;
    z-index: 0;
}

#item-1:checked ~ .cards #song-2, #item-2:checked ~ .cards #song-3, #item-3:checked ~ .cards #song-1 {
    transform: translatex(40%) scale(.8);
    opacity: .4;
    z-index: 0;
}

#item-1:checked ~ .cards #song-1, #item-2:checked ~ .cards #song-2, #item-3:checked ~ .cards #song-3 {
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 1;
}

.separator {
    position: absolute;
    width: 100%;
    transform: rotate(180deg);
}

.separator-end {
    position: absolute;
    width: 100%;
    transform: translateY(-99%);
}

.flip-card {
    position: relative;
    background-color: transparent;
    width: 190px;
    height: 254px;
    margin: 2em 0;
    perspective: 1000px;
    font-family: "Libre Baskerville", serif;
    z-index: 10;
}

.title {
    font-size: 1.4em;
    font-weight: 900;
    text-align: center;
    font-family: "League Spartan", sans-serif;
    margin: 0;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1rem;
}

.flip-card-front {
    background: linear-gradient(120deg, var(--secondary-color) 60%, var(--primary-color) 88%);
    color: var(--off-white);
}

.flip-card-back {
    background: linear-gradient(120deg, var(--primary-color) 30%, var(--blob-color) 88%);
    color: white;
    transform: rotateY(180deg);
}

.piano {
    user-select: none;
    cursor: pointer;
}

.piano > a:hover {
    color: var(--call-to-action-color);
}

.piano > a:nth-child(2):hover, .piano > a:nth-child(4):hover {
    color: var(--dark);
}

.projets > section:nth-child(1) {
    margin-top: 4em;
}

.projets > section {
    display: grid;
    z-index: 10;
    color: var(--off-white);
}

.projets > section > div {
    margin: 4em 0;
    width: 100%;
    height: 0.1em;
    grid-column: 1 / 3;
    background: radial-gradient(circle, var(--secondary-color) 0%, var(--primary-color) 100%);
}

.projets > section > p > a {
    color: var(--off-white);
}

.projets > section:nth-child(odd) > p {
    grid-column: 2;
    margin-left: 3em;
    font-family: "Libre Baskerville", serif;
    font-size: 24px;
}

.projets > section:nth-child(odd) > img {
    width: 30em;
    height: 20em;
    object-fit: cover;
    border-radius: 1em;
}

.projets > section:nth-child(even) > p, .projets > section:nth-child(even) > p > a {
    grid-column: 1;
    grid-row: 1;
    margin-right: 3em;
    font-family: "Libre Baskerville", serif;
    font-size: 24px;
}

.projets > section:nth-child(even) > img {
    grid-column: 2;
    width: 30em;
    height: 20em;
    object-fit: cover;
    border-radius: 1em;
}

footer {
    display: flex;
    align-items: center;
    padding: 1em;
    font-family: "Libre Baskerville", serif;
    background-color: var(--dark);
    color: var(--off-white);
}

footer > a:nth-child(2) {
    margin-left: auto;
}

footer > a > svg {
    height: 32px;
    margin: 0 1em;
    filter: invert();
}

#blob {
	animation: rotate360 20s infinite;
	background: var(--blob-color);
	filter: blur(calc(var(--blob-size)/2.15));
	width: var(--blob-size);
	height: var(--blob-size);
	position: absolute;
	left: 50%;
	top: 50%;
	translate: -50% -50%;
	border-radius: 50%;
}

@keyframes rotate360 {
	from { rotate: 0deg; }
	50% { scale: 1 1.15; }
	to { rotate: 360deg; }
}

#blob-blur {
	width: 100%;
	height: 100%;
	position: absolute;
}